
h1 {
    color: #0FCBA6;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 30px;
    border-bottom: 1px solid #F0F0F0;
}
.visualization {
    font-size: 30px;
    left: 0px;
    padding: 20px;
}
body {
    background-color: #D1D0D0;

}
p {
    padding: 10px;
    position: relative;
    left: 20px;
}
.col-md-12{
    margin-top: 30px;
    background-color: #FFF;
    overflow: hidden;
}
.col-md-6{
    background-color: #FFF;
    padding: 10px;
    overflow: hidden;
}
.col-md-7 {
        margin-top: 30px;
        background-color: #FFF;
        padding: 10px;
        overflow: hidden;
}
.col-md-4{
    margin-top: 30px;
    background-color: #FFF;
    padding: 10px;
    overflow: hidden;
}
.col-md-5 {
    margin-top: 30px;
    background-color: #FFF;
    padding: 10px;
    overflow: hidden;
}
#main {
    margin-top: 30px;
    background-color: #FFF;
    margin-bottom: 30px;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}
#visualization_section {
    margin-top: 30px;
    background-color: #FFF;
    margin-bottom: 30px;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}
.featured {
    display: block;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
.lefts {
    height: auto;
    max-width: 40%;
    margin-left: 30px;
    overflow: hidden;
}
.rights {
    height: auto;
    max-width: 40%;
    overflow: hidden;
}
#selected_image {
    border: #0FCBA6 solid;
    overflow: hidden;
}
.analysis {
    padding: 50px;
    overflow: hidden;
}
.col-md-3{
    margin-top: 30px;
    background-color: #FFF;
    padding: 10px;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
}
#navbar {
    margin-bottom: 100px;
    padding: 10px;
}

.navbar-brand {
    position: relative;
    left: 100px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    box-sizing: content-box;
    padding: 10px;
    background-color: #0FCBA6;
    margin: -10px;
}
a {
    color: black;
    overflow: hidden;
}
.btn-group {
    color: white;
    font-size: 40px; 
}
.comparison {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 30px;
    color: #0FCBA6;
    border: none;
    overflow: hidden;
}
.landing_pic {
    float: left;
    margin: 10px;
    overflow: hidden;
}
.show-mobile {
    display: none;
}
#no-top {
    margin-top: 0px;
}

@media (max-width: 480px) {

    .col-md-12 {
        background-color: #FFF;
        margin-left: 20px;
        margin-right: 20px;
        overflow: hidden;
    }
    .col-md-6 {
        background-color: #FFF;
        margin-left: 20px;
        margin-right: 20px;
        overflow: hidden;
    }
    .col-md-3 {
        background-color: #FFF;
        margin-left: 20px;
        margin-right: 20px;
        overflow: hidden;
    }
    #main {
        background-color: #FFF;
        margin-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;
        overflow: hidden;
    }
    #visualization_section {
        background-color: #FFF;
        margin-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;
        overflow: hidden;
    }   
    #hide-mobile {
        display: none;
    }
    .show-mobile {
        display: block;
    }
}